<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Float Layouts</title>
        <link rel="stylesheet" href="float.css">
    </head>
    <body>
        <h1>Trying Float Layout</h1>
        <div class="try">
        <div class="box">Name</div>
        <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius sem eu est fringilla, eu commodo dolor commodo. 
        <br>Phasellus dolor ipsum, interdum et egestas vitae, ornare a eros. Sed sagittis lectus nec orci rhoncus, scelerisque sodales 
        <br>arcu gravida. Duis at metus eu neque placerat elementum. Integer accumsan luctus tellus, eget laoreet tellus luctus bibendum. 
        <br>Sed elementum diam non pulvinar placerat. Suspendisse potenti. Maecenas consequat tristique mi ac congue.
        </p>
        </div>
        <p><br>Etiam sodales nec metus et aliquam. Aenean blandit sollicitudin urna, non sodales lorem. Vivamus luctus ultrices dui id cursus. 
            <br>Aliquam pulvinar est a neque placerat laoreet. Phasellus ac condimentum urna, sit amet aliquam nunc. Pellentesque habitant morbi 
            <br>tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse mauris libero, lobortis eu libero nec, cursus commodo mi.
            <br>Phasellus vel luctus metus. Praesent imperdiet leo nec metus ultrices, id blandit leo facilisis. Quisque mollis ex in ligula egestas feugiat. 
            <br>Donec congue urna non sapien pulvinar consequat. Sed ut volutpat risus. Vivamus sollicitudin tempor lorem, vulputate efficitur dui semper a. 
            <br>Pellentesque dapibus, est at semper finibus, massa mi scelerisque purus, non facilisis massa tellus eget tellus. Mauris ut bibendum orci, sit amet laoreet sapien.
        </p>
        <img src="float_test.gif" alt="float">
    </body>
</html> 
