<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flexbox Layouts</title>
        <link rel="stylesheet" href="flexbox.css">
    </head>
    <body>
        <h1>Trying FlexBox Layout</h1>
        <div class="box">
            <div class="small">Animals</div>
            <div class="small">Birds</div>
            <div class="small">Fish</div>
            <div class="big">Other
                <br>information
                <br>about
                <br>our
                <br>planet
            </div>
          </div>
    </body>
