<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grid Layouts</title>
        <link rel="stylesheet" href="grid.css">
    </head>
    <body>
        <h1>Trying Grid Layout</h1>
        <div class="grid">
            <div class="i1">Home</div>
            <div class="i2">Content</div>
            <div class="i3">Content 2</div>  
            <div class="i4">Content 3</div>
            <div class="i5">Contacts</div>
            <div class="i6">Other</div>
        </div>
    </body>
</html>
